.SignUp-Form{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.from{
    width: 100%;
    margin-top: 24px;
    padding-top: 24px;
}
.gridC{
    padding: 8px ;
}
.submitBTN{
    margin: 24px 0px 16px;
}